Repository jfrog/jfrog-client-go, pull requests merged in 2022-06, with the labels that each got.

#570 New methods in the system service
  README.md
  artifactory/emptymanager.go
  artifactory/manager.go
  artifactory/services/system.go
  tests/artifactorysystem_test.go
  tests/jfrogclient_test.go
  tests/utils_test.go
  utils/io/httputils/pollingexecutor.go
Labels: safe to test, new feature

#594 Duplicate build-info's artifacts are counted by their paths instead of their names
  go.mod
  go.sum
Labels: bug, safe to test

#595 Move filesystem walk functionality to gofrog
  go.mod
  go.sum
  utils/io/fileutils/files.go
  utils/io/fileutils/listfiles.go
Labels: safe to test, improvement

#599 Adding support for rescan flag on xr bs
  xray/services/buildscan.go
Labels: safe to test

#600 Fix CLI_PIPE_ACCESS_TOKE typo on github secrets
  .github/workflows/tests.yml
Labels: ignore for release

#597 Rename isTerminalMode to isTerminal and move the RT URL to a dedicated variable in FileTransferDetails
  artifactory/services/download.go
  artifactory/services/go/go_test.go
  artifactory/services/go/goutils.go
  artifactory/services/go/publish.go
  artifactory/services/upload.go
  artifactory/services/utils/resultutils.go
  tests/artifactorydownload_test.go
  tests/artifactoryupload_test.go
  utils/log/logger.go
  utils/utils.go
Labels: safe to test, new feature

#598 Refactor logger's code and remove all emojis from for non-supporting terminals
  .github/workflows/analysis.yml
  .github/workflows/cla.yml
  .github/workflows/frogbot-fix.yml
  .github/workflows/frogbot-scan-pr.yml
  .github/workflows/tests.yml
  go.mod
  go.sum
  http/httpclient/client.go
  utils/log/logger.go
  utils/log/logger_test.go
Labels: safe to test, breaking change, improvement

#606 Add storage services
  README.md
  artifactory/emptymanager.go
  artifactory/manager.go
  artifactory/services/movecopy.go
  artifactory/services/props.go
  artifactory/services/storage.go
  artifactory/services/utils/properties.go
  artifactory/services/utils/searchutil.go
  artifactory/services/utils/storageutils.go
  go.mod
  go.sum
  tests/artifactorystorage_test.go
  tests/jfrogclient_test.go
  tests/utils_test.go
  utils/parenthesesutils.go
Labels: safe to test
