Repository jfrog/jfrog-client-go, pull requests merged in 2022-07, with the labels that each got.

#609 Bugfix: Upload with target-prop's value contain special characters
  artifactory/services/utils/properties.go
  artifactory/services/utils/properties_test.go
Labels: safe to test

#610 Fix users tests
  tests/artifactoryusers_test.go
Labels: safe to test, ignore for release

#612 Failure to calculate final results summary during upload
  artifactory/services/upload.go
  artifactory/services/upload_test.go
Labels: bug, safe to test

#611 Add GetRunningNodes API
  README.md
  artifactory/emptymanager.go
  artifactory/manager.go
  artifactory/services/system.go
  tests/artifactorysystem_test.go
Labels: safe to test, new feature

#603 Add missing 'sha256' param to yarn Aql Query
  artifactory/services/groups.go
  artifactory/services/utils/aqlquerybuilder.go
  artifactory/services/utils/searchutil.go
  tests/accessproject_test.go
Labels: safe to test, improvement

#616 Fix git branch name slash issue
  utils/git.go
Labels: bug, safe to test

#619 Support artifactory upload status 202 response
  access/services/accesstoken.go
  artifactory/services/upload.go
  artifactory/services/utils/repopathfile.go
  artifactory/services/utils/resultutils.go
  http/httpclient/client.go
Labels: bug, safe to test

#615 Added 'Technology' field for vulnerability/violation structs
  go.mod
  xray/services/scan.go
Labels: improvement

#620 Refactor CheckResponseStatus and GenerateResponseError usage
  access/services/accesstoken.go
  access/services/invite.go
  access/services/project.go
  artifactory/services/buildinfo.go
  artifactory/services/createreplication.go
  artifactory/services/delete.go
  artifactory/services/deleteReplication.go
  artifactory/services/deleterepository.go
  artifactory/services/discardBuilds.go
  artifactory/services/distribute.go
  artifactory/services/dockerpromote.go
  artifactory/services/download.go
  artifactory/services/export.go
  artifactory/services/federation.go
  artifactory/services/getreplication.go
  artifactory/services/go/publish.go
  artifactory/services/groups.go
  artifactory/services/movecopy.go
  artifactory/services/permissiontarget.go
  artifactory/services/ping.go
  artifactory/services/promote.go
  artifactory/services/props.go
  artifactory/services/readfile.go
  artifactory/services/repositories.go
  artifactory/services/repository.go
  artifactory/services/security.go
  artifactory/services/storage.go
  artifactory/services/system.go
  artifactory/services/updatereplication.go
  artifactory/services/users.go
  artifactory/services/utils/artifactoryutils.go
  artifactory/services/utils/searchutil.go
  artifactory/services/xrayscan.go
  artifactory/usage/reportusage.go
  artifactory/usage/reportusage_test.go
  distribution/services/deletelocal.go
  distribution/services/deleteremote.go
  distribution/services/distribute.go
  distribution/services/getstatus.go
  distribution/services/setsigningkey.go
  distribution/services/sign.go
  distribution/services/update.go
  distribution/services/version.go
  http/httpclient/client.go
  http/httpclient/retryableconnection_test.go
  pipelines/services/integration.go
  pipelines/services/sources.go
  pipelines/services/system.go
  tests/utils_test.go
  tests/xraywatch_test.go
  utils/errorutils/errorutils.go
  xray/services/binMgr.go
  xray/services/buildscan.go
  xray/services/policy.go
  xray/services/report.go
  xray/services/scan.go
  xray/services/summary.go
  xray/services/version.go
  xray/services/watch.go
Labels: safe to test

#622 Add CheckResponseStatusWithBody function
  .github/workflows/tests.yml
  access/services/accesstoken.go
  access/services/invite.go
  access/services/project.go
  artifactory/services/buildinfo.go
  artifactory/services/createreplication.go
  artifactory/services/delete.go
  artifactory/services/deleteReplication.go
  artifactory/services/deleterepository.go
  artifactory/services/discardBuilds.go
  artifactory/services/distribute.go
  artifactory/services/dockerpromote.go
  artifactory/services/download.go
  artifactory/services/export.go
  artifactory/services/federation.go
  artifactory/services/getreplication.go
  artifactory/services/go/publish.go
  artifactory/services/groups.go
  artifactory/services/movecopy.go
  artifactory/services/permissiontarget.go
  artifactory/services/ping.go
  artifactory/services/promote.go
  artifactory/services/props.go
  artifactory/services/readfile.go
  artifactory/services/repositories.go
  artifactory/services/repository.go
  artifactory/services/security.go
  artifactory/services/storage.go
  artifactory/services/system.go
  artifactory/services/updatereplication.go
  artifactory/services/users.go
  artifactory/services/utils/artifactoryutils.go
  artifactory/services/utils/searchutil.go
  artifactory/services/xrayscan.go
  artifactory/usage/reportusage.go
  distribution/services/deletelocal.go
  distribution/services/deleteremote.go
  distribution/services/distribute.go
  distribution/services/getstatus.go
  distribution/services/setsigningkey.go
  distribution/services/sign.go
  distribution/services/update.go
  distribution/services/version.go
  http/httpclient/client.go
  http/httpclient/retryableconnection_test.go
  pipelines/services/integration.go
  pipelines/services/sources.go
  pipelines/services/system.go
  tests/utils_test.go
  utils/errorutils/errorutils.go
  xray/services/binMgr.go
  xray/services/buildscan.go
  xray/services/policy.go
  xray/services/report.go
  xray/services/scan.go
  xray/services/summary.go
  xray/services/version.go
  xray/services/watch.go
Labels: safe to test, ignore for release

#623 Improve CheckResponse comments
  utils/errorutils/errorutils.go
Labels: safe to test, ignore for release
